<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Gext Layout Editor"
            extensions="xml"
            icon="icons/gxml_icon.png"
            contributorClass="com.tvd.gext.multipageeditor.editors.LayoutMultiPageEditorContributor"
            class="com.tvd.gext.multipageeditor.editors.LayoutMultiPageEditor"
            id="com.tvd.gext.multipageeditor.editors.LayoutMultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Gext Editor"
            id="com.tvd.gext.multipageeditor">
      </category>
      <wizard
            name="Gext Layout Editor"
            icon="icons/gxml_icon.png"
            category="com.tvd.gext.multipageeditor"
            class="com.tvd.gext.multipageeditor.wizards.LayerNewFileWizard"
            id="com.tvd.gext.multipageeditor.wizards.LayoutNewFileWizard">
      </wizard>
   </extension>
</plugin>
